.ourMenuBg {
  background-image: url('../../../assets/home/featured.jpg');
  height: 600px;
  background-position: center center;
}

@media (max-width: 600px) {
  .ourMenuBg {
    height: 1000px;
  }
}
